@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
    --red-color: #ff0000;
    --blue-light-color: #e4e9f7;
    --grey-light-color: #f3f3f9;
    --text-color: #000;
    --grey-light-color-2: #f3f3f9;
}

.hide {
    display: none;
}

.header {
    margin: 0 150px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo .bxl-c-plus-plus {
    display: inline-block;
}

.header i {
    display: none;
}

.header__action {
    display: none;
}

.header__logo {
    width: 78px;
    margin-top: 11px;
}

.header__logo img {
    width: 100%;
    object-fit: contain;
}

.header__nav {
    display: flex;
}

.header__nav li {
    list-style: none;
    padding: 13px 18px;
    margin-left: 12px;
    border-radius: 10px;
}

.header__nav li a {
    text-decoration: none;
    color: #1C3A5C;
    font-weight: 500;
}

.header__nav li:not(:last-child):hover {
    background: #F3F4F4;
    cursor: pointer;
}

.header__nav li:last-child a {
    color: #1565D8;
    font-weight: 800;
    padding: 10px 35px;
    border: 2px solid #1565D8;
    border-radius: 16px;
    font-size: 16px;
}

.header__nav li:last-child:hover a {
    overflow: hidden;
    background: #1565D8;
    color: #fff;
}

.logo {
    display: inline-flex;
    /* line-height: 60px; */
    /* position: fixed; */
    float: left;
    margin: 11px 0px;
    color: var(--blue-color);
    font-weight: 600;
    font-size: 30px;
    /* letter-spacing: 2px; */
}

.logo i {
    margin-top: 4px;
    font-size: 40px;
}

.container {
    display: flex;
    margin: 0px 150px 0px 150px;
}


.post {
    width: 70%;
}

.post .title {
    margin: 30px 0px 0px 10px;
    font-weight: 600;
}


.author-avatar {
    margin-right: 10px;
}

.author-avatar img {
    border-radius: 50%;
    /* Creates a circular avatar */
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
}

.author-info {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.author-verify {
    display: flex;
}

.author-verify i {
    margin-right: 5px;
}

.publish-date {
    font-size: 12px;
    position: absolute;
    right: 0;
    font-style: italic;
    font-weight: 500;
    margin-left: 120px;
    padding-left: 15px;
    /* Adjust space between author and date as needed */
}

.container-fluid .card {
    border: 1px solid rgb(167 138 138 / 13%);
    border-radius: 1.25rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card .card-body h2 {
    font-size: 24px;
    color: #183b56;
}

.card .card-body p {
    font-size: 16px;
    color: #5a7184;
}

.card .card-body .author-name {
    font-style: italic;
    font-weight: 600;
    margin: 0;
}

.card .card-body .author-verify p {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    padding: 3px 0;
}

.centered-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    /* Or as much as needed for vertical alignment */
}

.centered-btn .custom-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 25px;
    text-decoration: none;
    /* Remove underline from anchor tag */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.25);
    cursor: pointer;
    display: inline-flex;
    /* Align text and icon */
    align-items: center;
    /* Center the content vertically */
    gap: 10px;
    /* Space between text and icon */
}

.custom-btn:focus,
.custom-btn:hover {
    background-color: #e7f0ff;
    outline: none;
    /* Remove focus outline */
}



/* ============================================ START OF CATEGORIES =========================================== */
.categories {
    width: 30%;
}

.categories {
    margin: 24px 48px 0 24px;
    padding: 10px 48px 10px 24px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: fit-content;
}

.categories .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 29px;
    margin-top: 20px;
    text-align: center;
}

.article__item {
    display: flex;
    margin-bottom: 30px;
}

.article__item-text {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #0D2436;
    opacity: 0.75;
    cursor: pointer;
}


/* ============================================ END OF ARTICLES =========================================== */


/* ============================================ START OF FOOTER =========================================== */
footer {
    display: flex;
    flex-direction: column;
    background-color: #0D2436;
    color: #5A7184;
    font-size: 14px;
}

.footer__container {
    color: #959ead;
    font-size: 14px;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    gap: 40px;
    margin-bottom: 10px;
    padding: 20px 20px;
}

.footer__group-icon .footer__logo {
    font-size: 24px;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: 500;
    margin-bottom: 20px;
    color: #1565D8;
}

.footer__group-icon p {
    color: #959ead;
    font-size: 14px;
    margin-left: 3px;

}

.footer__group-icon .footer__logo i {
    font-size: 32px;
}

.footer__group {
    line-height: 30px;
}

.footer__group ul li {
    list-style: none;

}

.footer__group li a {
    text-decoration: none;
    color: #959ead;
    font-size: 14px;
}

.copyright {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: #5A7184;
}

.copyright p {
    margin: 0;
}


/* ============================================ END OF FOOTER =========================================== */






@media only screen and (max-width: 1662px) {
    .container {
        margin: 0 100px;
    }
   /* Header */
    .header {
        padding: 28px 0;
        margin: 0 100px;
    }

    /* Articles */
    .articles .title {
        margin: 12px 0;
    }

    .article__item-img img {
        width: 60px;
    }

    .article__item-text {
        margin-left: 10px;
    }

    .article__title {
        font-size: 14px;
    }

    .article__date {
        font-size: 10px;
    }

    .articles .title {
        font-size: 16px;
    }

    .tags ul {
        gap: 6px;
    }

    .tags ul li {
        font-size: 10px;
        padding: 5px 7px;
        border-radius: 5px;
    }

    /* Post */
    .post .title {
        font-size: 18px;
    }

    .category {
        font-size: 14px;
    }

    .post .content {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1372px) {
    .container {
        margin: 0 60px;
    }

    .breadcrumb {
        font-size: 12px;
        margin: 15px;
    }

    /* Header */
    .header {
        padding: 20px 0;
        margin: 0 60px;
    }

    .header__logo {
        width: 60px;
    }

    /* Articles */
    .article__item-img img {
        width: 50px;
    }

    .article__item {
        margin-bottom: 20px;
    }

    .article__item-text {
        margin-left: 6px;
    }

    .article__title {
        font-size: 12px;
    }

    .article__date {
        font-size: 8px;
    }

    .articles .title {
        font-size: 14px;
    }

    .tags ul {
        gap: 4px;
    }

    .tags ul li {
        font-size: 8px;
        padding: 3px 5px;
    }
}

@media only screen and (max-width: 1132px) {
    .container {
        margin: 0 50px;
    }

    .post {
        width: 100%;
    }

    /* Header */
    .header i {
        display: block;
    }

    .header {
        margin: 0 50px;
        padding: 20px 0;
    }

    /* Articles */
    .articles {
        display: none;
    }

    .articles.active {
        width: 340px;
        display: block;
        position: absolute;
        background: white;
        right: 2%;
        top: 5%;
        padding-bottom: 10px;
    }

    .articles.active .tags {
        display: none;
    }

    /* Tag Below the Post  */
    #tags-below-post {
        display: block;
    }

    #tags-below-post .title {
        font-size: 12px;
        font-weight: 600;
        margin: 8px 0;
    }
}

@media only screen and (max-width: 768px) {
    .header i {
        display: block;
    }

    /* Post */
    .post {
        width: 100%;
    }

    .post .title {
        font-size: 14px;
    }

    .category {
        font-size: 12px;
        margin: 0;
    }

    .content {
        font-size: 10px;
    }

    .breadcrumb {
        font-size: 12px;
        margin: 10px;
    }

    .articles {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 0 20px;
    }

    .header {
        padding: 12px 0;
        margin: 0 20px;
    }

    /* Articles */
    .articles.active {
        width: 300px;
        padding: 5px 24px 24px 12px;
    }

    .articles.active .article__title {
        font-size: 10px;
    }

    .articles.active .article__item {
        margin-bottom: 5px;
    }
}