<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Home</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="logo">
          <i class="bx bxl-c-plus-plus"></i>
          <span class="sidebar__logo-title">CodingBlog</span>
        </div>
        <ul class="header__nav" id="header__nav">
          

          <li>
            <a href="./index.html"><i class="fa-solid fa-house"></i>Home</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-circle-info"></i>About</a>
          </li>
          <li>
            <a href="../user/category/index.html"
              ><i class="fa-solid fa-list"></i>Categories</a
            >
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-message"></i>Contact</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-money-bill"></i>Sponsor</a>
          </li>
          <li class="has-children">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="languageDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  src="../../backend/owner/assets/images/flags/US.png"
                  alt="English"
                  style="width: 20px"
                />
                English
              </button>
              <div class="dropdown-menu" aria-labelledby="languageDropdown">
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="changeLanguage('English', '../../backend/owner/assets/images/flags/US.png')"
                >
                  <img
                    src="../../backend/owner/assets/images/flags/US.png"
                    alt="English"
                    style="width: 20px"
                  />
                  English
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="changeLanguage('Tiếng Việt', '../../backend/owner/assets/images/flags/VN.png')"
                >
                  <img
                    src="../../backend/owner/assets/images/flags/VN.png"
                    alt="Tiếng Việt"
                    style="width: 20px"
                  />
                  Tiếng Việt
                </a>
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="changeLanguage('Français', '../../backend/owner/assets/images/flags/FR.png')"
                >
                  <img
                    src="../../backend/owner/assets/images/flags/FR.png"
                    alt="French"
                    style="width: 20px"
                  />
                  Français
                </a>
              </div>
            </div>
          </li>
          <li>
            <a href="../../backend/owner/pages/sign-in/index.html">Sign In</a>
          </li>
        </ul>
        <div class="header__action">
          <i class="fa-solid fa-user hide"></i>
          <i class="fa-solid fa-bars hide"></i>
        </div>
      </div>

      <div class="main-container">
        <div class="left-column-container">
          <div class="header-container">
            <h1>Read the most interesting articles</h1>
            <p class="description">
              Explore a wide range of topics updated weekly to enrich your daily
              reading experience. Join our community and discover something new
              with every visit!
            </p>
            <div class="search-bar">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
              <input
                type="text"
                placeholder="Search article"
                class="search-input"
              />
              <button class="search-button">Search</button>
            </div>

            <div class="popular-tags">
              <span>Popular Tags: </span>
              <button>Design</button>
              <button>User Experience</button>
              <button>User Interfaces</button>
            </div>
          </div>
        </div>
        <div class="right-column-container">
          <img
            src="../assets/images/LIve Chat.svg"
            alt="Descriptive Alt Text"
          />
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-4 mt-5">
          <div class="card">
            <img class="card-img" src="../assets/images/1.svg" />
            <div class="card-body">
              <div class="article-header">
                <div>
                  <a href="../user/post/index.html " class="link-to-detail">
                    Future of Work
                  </a>
                  <p class="description">
                    Majority of people will work in jobs that don't exist today.
                  </p>
                </div>

                <div class="author-info">
                  <div class="author-avatar">
                    <img
                      src="../assets/images/avatar.jpg"
                      alt="Author's Avatar"
                    />
                  </div>
                  <div>
                    <a href="#" class="author-name">Địch Lệ Nhiệt Ba</a>
                    <div class="author-verify">
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Verified writer</p>
                    </div>
                  </div>
                  <div class="publish-date">02 May</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mt-5">
          <div class="card">
            <img class="card-img" src="../assets/images/2.svg" />
            <div class="card-body">
              <div class="article-header">
                <div>
                  <a href="../user/post/index.html " class="link-to-detail">
                    Why Use External It Support
                  </a>
                  <p class="description">
                    Thanks to never-ending piles of data & the amount of
                    insight.
                  </p>
                </div>

                <div class="author-info">
                  <div class="author-avatar">
                    <img
                      src="../assets/images/avatar.jpg"
                      alt="Author's Avatar"
                    />
                  </div>
                  <div>
                    <a href="#" class="author-name">Địch Lệ Nhiệt Ba</a>
                    <div class="author-verify">
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Verified writer</p>
                    </div>
                  </div>
                  <div class="publish-date">02 May</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mt-5">
          <div class="card">
            <img class="card-img" src="../assets/images/3.svg" />
            <div class="card-body">
              <div class="article-header">
                <div>
                  <a href="../user/post/index.html " class="link-to-detail">
                    Future of Learning
                  </a>
                  <p class="description">
                    A constant ability to learn will be on the most crucial
                    skills.
                  </p>
                </div>

                <div class="author-info">
                  <div class="author-avatar">
                    <img
                      src="../assets/images/avatar.jpg"
                      alt="Author's Avatar"
                    />
                  </div>
                  <div>
                    <a href="#" class="author-name">Địch Lệ Nhiệt Ba</a>
                    <div class="author-verify">
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Verified writer</p>
                    </div>
                  </div>
                  <div class="publish-date">02 May</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mt-5">
          <div class="card">
            <img class="card-img" src="../assets/images/4.svg" />
            <div class="card-body">
              <div class="article-header">
                <div>
                  <a href="../user/post/index.html " class="link-to-detail">
                    Help Finding Information Online
                  </a>

                  <p class="description">
                    Majority of peole will work in jobs that don’t exist today.
                  </p>
                </div>

                <div class="author-info">
                  <div class="author-avatar">
                    <img
                      src="../assets/images/avatar.jpg"
                      alt="Author's Avatar"
                    />
                  </div>
                  <div>
                    <a href="#" class="author-name">Địch Lệ Nhiệt Ba</a>
                    <div class="author-verify">
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Verified writer</p>
                    </div>
                  </div>
                  <div class="publish-date">02 May</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mt-5">
          <div class="card">
            <img class="card-img" src="../assets/images/5.svg" />
            <div class="card-body">
              <div class="article-header">
                <div>
                  <a href="../user/post/index.html " class="link-to-detail">
                    How Does An Lcd Screen Work
                  </a>
                  <p class="description">
                    Thanks to never-ending piles of data & the amount of
                    insight.
                  </p>
                </div>

                <div class="author-info">
                  <div class="author-avatar">
                    <img
                      src="../assets/images/avatar.jpg"
                      alt="Author's Avatar"
                    />
                  </div>
                  <div>
                    <a href="#" class="author-name">Địch Lệ Nhiệt Ba</a>
                    <div class="author-verify" ">
                    <i class="ri-checkbox-circle-fill"></i>
                    <p>Verified writer</p>
                  </div>
                </div>
                <div class="publish-date">02 May</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div class="card">
          <img class="card-img" src="../assets/images/6.svg" />
          <div class="card-body">
            <div class="article-header">
              <div>
                <a href="../user/post/index.html " class="link-to-detail">
                  Headset No Longer Wired For Sound
                </a>
                <p class="description">
                  A constant ability to learn will be on the most crucial
                  skills.
                </p>
              </div>

              <div class="author-info">
                <div class="author-avatar">
                  <img
                    src="../assets/images/avatar.jpg"
                    alt="Author's Avatar"
                  />
                </div>
                <div>
                  <a href="#" class="author-name">Địch Lệ Nhiệt Ba</a>
                  <div class="author-verify">
                    <i class="ri-checkbox-circle-fill"></i>
                    <p>Verified writer</p>
                  </div>
                </div>
                <div class="publish-date">02 May</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="centered-btn">
      <a href="#" class="custom-btn">
        More articles <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </body>
  <div class="footer-clean">
    <footer>
      <div class="container">
        <div class="row-footer justify-content-center">
          <div class="col-sm-4 col-md-3 item">
            <h3>Product</h3>
            <ul>
              <li><a href="#">Landing Page</a></li>
              <li><a href="#">Feature</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Referral Program</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Theme</a></li>
              <li><a href="#">Illustrations</a></li>
              <li><a href="#">UI Kit</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>Company</h3>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>More</h3>
            <ul>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Changelog</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-social justify-content-center">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-snapchat"></i>
          <i class="fa-brands fa-telegram"></i>
        </div>
        <div class="company-info justify-content-center">
          <i class="bx bxl-c-plus-plus"></i>
          <span class="sidebar__logo-title">CodingBlog</span>
        </div>
        <div class="copyright justify-content-center">
          <p>Copyright</p>
          <i class="fa-regular fa-copyright"></i>
          <p>2024</p>
        </div>
      </div>
    </footer>
  </div>

  <script>
    function changeLanguage(language, flagPath) {
      const languageButton = document.getElementById("languageDropdown");
      languageButton.innerHTML = `<img src="${flagPath}" alt="${language}" style="width: 20px;"> ${language}`;
    }
  </script>
</html>
