@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --red-color: #ff0000;
    --blue-light-color: #1089ff ;
  }

.fs-0{
  font-size:14px;
}

.fs-18{
  font-size:18px;
}

.p-24{
  padding:24px;
}

.fw-600{
  font-weight:600;
}

.color-active{
  color:var(--blue-color);
}
.color-disabled{
  color:#0D2436;
}
.color-disabled-2{
 color:#959ead;
}
.bg-active{
  background:var(--blue-color) !important;
}
.bg-light-active{
  background:var(--blue-light-color) !important;
}
.bg-disabled{
  background-color:#0D2436;
}
.border-none{
  border:none !important;
}
.outline-none{
  outline:none !important;
}
.border-radius-none{
  border-radius:0 !important;
}
.hover-pointer:hover{
  cursor:pointer;
}
.hover-color-active:hover .title{
  color:var(--blue-color);
}
.hover-color-white:hover a{
  color:#fff;
}

.letter-spacing-2{
  letter-spacing: 2px;
}

.w-65{
  width:65%;
}
.w-35{
  width:35%;
}
.w-20{
  width:20%;
}
.w-80{
  width:80%;
}
.wm-80{
  max-width:80px;
}
.py-9{
  padding: 9px 0;
}

.wp-130{
  width:130px !important;
}
.hp-45{
  height:45px !important;
}

/* ============================================ START OF HEADER =========================================== */
  
  .header {
    margin: 0 150px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo .bxl-c-plus-plus {
    display: inline-block;
  }
  
  .header i {
    display: none;
  }
  
  .header__action {
    display: none;
  }
  
  .header__logo {
    width: 78px;
    margin-top: 11px;
  }
  
  .header__logo img {
    width: 100%;
    object-fit: contain;
  }
  
  .header__nav {
    margin-bottom: 0px;
    display: flex;
  }
  
  .header__nav li {
    list-style: none;
    padding: 13px 18px;
    margin-left: 12px;
    border-radius: 10px;
  }
  
  .header__nav li a {
    text-decoration: none;
    color: #1c3a5c;
    font-weight: 500;
  }
  
  .header__nav li:not(:last-child):hover {
    background: #f3f4f4;
    cursor: pointer;
  }
  
  .header__nav li:last-child a {
    justify-content: center;
    color: #1565d8;
    font-weight: 800;
    padding: 10px 25px;
    border: 2px solid #1565d8;
    border-radius: 16px;
    font-size: 16px;
  }
  
  .header__nav li:last-child:hover a {
    overflow: hidden;
    background: #1565d8;
    color: #fff;
  }
  
  .header__nav .dropdown a i {
    display: block;
  }
  
  .wrapper .header .header__nav .has-children,
  .wrapper .header .header__nav .has-children:hover {
    background: none;
    margin-top: 7px;
    padding: 0;
  }
  .has-children .dropdown img {
    margin-bottom: 2px;
    width: 32px;
  }
  .wrapper .header__nav .has-children .dropdown-menu {
    margin-left: -3px;
    padding: 0;
  }
  .wrapper .header__nav .has-children .dropdown .btn-secondary {
    padding-bottom: 0;
    color: #000;
    background-color: #bdfdff;
    border: none;
  }
  
  .wrapper .header__nav .has-children .dropdown a:hover {
    background-color: #c7bbe7;
  }
  .has-children .dropdown .dropdown-item {
    padding: 10px 10px;
  }
  
  .header__action .fa-solid.fa-user{
    font-size: 23px;
  }
  
  .logo {
    display: inline-flex;
    float: left;
    margin: 11px 0px;
    color: var(--blue-color);
    font-weight: 600;
    font-size: 30px;
  }
  
  .logo i {
    margin-top: 4px;
    font-size: 40px;
  }

/* ============================================ END OF HEADER =========================================== */

/* ============================================ START OF MEDIA QUERIES =========================================== */

@media (max-width: 1200px) {
  
  /*================= START OF POST DETAIL =============== */
  .breadcrumb-item{
    font-size:14px;
  }
  .post-detail h4{
    font-size:20px;
  }
  .content {
    font-size:14px;
  }
  /*================= END OF POST DETAIL =============== */


  /*================= START OF LATEST POST =============== */
  .latest-post-text .title{
    font-size:12px;
  }
  .latest-post-text .date{
    font-size:10px;
  }
  .latest-post h4,.tags h4{
    font-size:16px !important;
  }
  /*================= END OF LATEST POST =============== */
  

 /*================= START OF TAGS =============== */
  .tags li{
    padding:4px 6px !important;
  }
  .tags li a{
    font-size:12px;
  }
  /*================= END OF TAGS =============== */

  /*================= START OF FOOTER =============== */
  footer li a{
    font-size:12px;
  }
  footer h2,form{
    font-size:14px !important;
  }
  .copyright p{
    font-size:14px !important;
  }
  .copyright .social{
    font-size:20px !important;
  }
  /*================= END OF FOOTER =============== */
}

@media (max-width: 992px) {
    .post{
      flex-direction:column;
    }
    .post-detail{
      width:100%;
    }
    .article{
      width:60%;
      padding:0;
    }
} 

@media (max-width: 576px) {
  main,footer{
    padding:0 8px;
  }

  /*================= START OF POST DETAIL =============== */
  .breadcrumb-item{
    font-size:10px;
  }
  .post-detail h4{
    font-size:16px;
  }
  .content{
    font-size:12px;
  }
  /*================= END OF POST DETAIL =============== */

  /*================= START OF LATEST POST =============== */
  .latest-post h4,.tags h4{
    font-size:14px !important;
  }
  .latest-post-text .title{
    font-size:10px;
  }
  .latest-post-text .date{
    font-size:8px;
  }
   /*================= END OF LATEST POST =============== */

  /*================= START OF FOOTER COPYRIGHT =============== */
  .copyright{
    flex-direction:column;
  }
  .copyright .social ul{
    justify-content:flex-start !important;
    gap:8px !important;
  }
   /*================= END OF FOOTER COPYRIGHT =============== */
}

/* ============================================ END OF MEDIA QUERIES =========================================== */

 



