@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
    --red-color: #ff0000;
    --blue-light-color: #e4e9f7;
    --grey-light-color: #f3f3f9;
    --text-color: #000;
    --grey-light-color-2: #f3f3f9;
  }

.hide{
    display: none;
}

/* ============================================ START OF HEADER =========================================== */
  
  .header {
    margin: 0 150px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo .bxl-c-plus-plus {
    display: inline-block;
  }
  
  .header i {
    display: none;
  }
  
  .header__action {
    display: none;
  }
  
  .header__logo {
    width: 78px;
    margin-top: 11px;
  }
  
  .header__logo img {
    width: 100%;
    object-fit: contain;
  }
  
  .header__nav {
    margin-bottom: 0px;
    display: flex;
  }
  
  .header__nav li {
    list-style: none;
    padding: 13px 18px;
    margin-left: 12px;
    border-radius: 10px;
  }
  
  .header__nav li a {
    text-decoration: none;
    color: #1c3a5c;
    font-weight: 500;
  }
  
  .header__nav li:not(:last-child):hover {
    background: #f3f4f4;
    cursor: pointer;
  }
  
  .header__nav li:last-child a {
    justify-content: center;
    color: #1565d8;
    font-weight: 800;
    padding: 10px 25px;
    border: 2px solid #1565d8;
    border-radius: 16px;
    font-size: 16px;
  }
  
  .header__nav li:last-child:hover a {
    overflow: hidden;
    background: #1565d8;
    color: #fff;
  }
  
  .header__nav .dropdown a i {
    display: block;
  }
  
  .wrapper .header .header__nav .has-children,
  .wrapper .header .header__nav .has-children:hover {
    background: none;
    margin-top: 7px;
    padding: 0;
  }
  .has-children .dropdown img {
    margin-bottom: 2px;
    width: 32px;
  }
  .wrapper .header__nav .has-children .dropdown-menu {
    margin-left: -3px;
    padding: 0;
  }
  .wrapper .header__nav .has-children .dropdown .btn-secondary {
    padding-bottom: 0;
    color: #000;
    background-color: #bdfdff;
    border: none;
  }
  
  .wrapper .header__nav .has-children .dropdown a:hover {
    background-color: #c7bbe7;
  }
  .has-children .dropdown .dropdown-item {
    padding: 10px 10px;
  }
  
  .header__action .fa-solid.fa-user{
    font-size: 23px;
  }
  
  
  
  
  .logo {
    display: inline-flex;
    float: left;
    margin: 11px 0px;
    color: var(--blue-color);
    font-weight: 600;
    font-size: 30px;
    /* letter-spacing: 2px; */
  }
  
  .logo i {
    margin-top: 4px;
    font-size: 40px;
  }

/* ============================================ END OF HEADER =========================================== */



.post__main{
    display:flex;
    margin: 0 150px 20px;
}


.post__breadcrumb{
    opacity:0.5;
    margin: 25px 0 29px 29px;
    font-size:14px;  
    background: #fff; 
  }

.post__breadcrumb a{
    text-decoration:none;
    color:#1C3A5C;
    font-weight:500;
}

.post__breadcrumb a:hover{
    color:#1565D8;
}


/* ============================================ START OF DETAIL POST =========================================== */

.post__container{
    width: 70%;
}
.post__container .title{
    margin:15px 0;
    font-size:24px;
}

.image img{
    width:100%;
    object-fit: contain;
}

.category{
    margin-top:25px;
    margin-bottom:20px;
    font-weight:400;
    letter-spacing:3.2px;
    color: #1565D8;
}
.content{
    overflow-wrap: break-word;
    margin:0 3px;
}

/* ============================================ END OF DETAIL POST =========================================== */




/* ============================================ START OF ARTICLES =========================================== */
.articles{
    width:30%;
}

.articles{
    margin: 24px 48px 0 48px;
    padding: 10px 48px 48px 24px;
    border-radius:10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:fit-content;
}

.articles .title{
    font-size:20px;
    font-weight:600;
    margin-bottom:29px;
    margin-top: 20px;
}

.article__item{
    display:flex;
    margin-bottom:30px;
    text-decoration:none;
}
.article__item:hover .article__title{
    color:var(--blue-color);

}



.article__item-text{
    margin-left:24px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.article__title{
    font-weight:500;
    font-size:18px;
    line-height:1.5;
    color:#0D2436;
}

.article__date{
    font-size:14px;
    font-weight:400;
    color:#0D2436;
}


.tags ul{
    display: flex;
    flex-wrap: wrap;
    gap:12px;
}


.tags ul li {

    list-style-type: none;
    border-radius:8px;
    background: #1565D8;
    padding:10px 14px;

    opacity:0.9;
}
.tags li a{
    color:#fff;
    text-decoration: none;
}
.tags ul li:hover{
    opacity:1;
    cursor:pointer;

}

/* ============================================ END OF ARTICLES =========================================== */




/* ============================================ START OF FOOTER =========================================== */
footer{
    margin-top:50px;
    padding: 30px 150px ;
    display:flex;
    flex-direction:column;
    background-color:#0D2436;
    color: #5A7184;
    font-size:14px;
}
.footer__container{
    color:#959ead;
    font-size:14px;
    grid-template-columns: repeat(5, 1fr);
    display:grid;
    gap:40px;
    margin-bottom:10px;
}

.footer__group-icon .footer__logo{
font-size:24px;
align-items:center;
text-align:center;
display:flex;
font-weight:500;
margin-bottom:20px;
color:#1565D8;
}
.footer__group-icon p{
    color:#959ead;
    font-size:14px;
    margin-left:3px;
    
}
.footer__group-icon .footer__logo i{
    font-size:32px;
}
.footer__group{
    line-height:30px;
}

.footer__group ul li{
    list-style:none;
  
}

.footer__group ul li:first-child a{
  font-size:17px;
  font-weight:600;
  color: #5A7184;
}
.footer__group li a{
    text-decoration:none;
    color:#959ead;
    font-size:14px;
}
.copyright{
    text-align:center;
    font-style: italic;
    font-weight: 600;
    color: #5A7184;
}

/* ============================================ END OF FOOTER =========================================== */













 @media only screen and (max-width: 1662px){
    .post__main{
        margin: 0 100px;
    }
    

    /* Header */
    .header{
        padding: 28px 0;
        margin: 0 100px;
    }

    /* Articles */
    
    .articles{
        margin-left:30px;
    }

    .articles .title{
        margin:12px 0;
    }
    .article__item-img img{
        width:60px;
    }
    .article__item-text{
        margin-left:10px;
    }
    .article__title{
        font-size:14px;
    }
    .article__date{
        font-size:10px;
    }
    .articles .title{
        font-size:16px;
    }
    .tags ul{
        gap:6px;
    }
    .tags ul li{
      font-size:10px;
      padding:5px 7px;  
      border-radius:5px;
    }

    /* Post */
    .post__container .title{
        font-size:18px;
    }
    .category{
        font-size:14px;
     }
    .post__container .content{
        font-size:12px;
    }

    .footer__container{
      gap:30px;
     
    }
    footer{
      padding: 30px 100px;
    }
 }

 @media only screen and (max-width: 1372px){
    .post__main{
        margin: 0 60px;
    }

    .breadcrumb{
        font-size:12px;
        margin:15px;
    }

    /* Header */
  
    .header{
        padding: 20px 0;
        margin: 0 60px;
    }

    .header__logo{
        font-size:18px;

    }




    /* Articles */
    .articles{
        margin-left:24px;
    }
    .article__item-img img{
        width:50px;
    }
    .article__item{
        margin-bottom:20px;
    }
    .article__item-text{
        margin-left:6px;
    }
    .article__title{
        font-size:12px;
    }
    .article__date{
        font-size:8px;
    }
    .articles .title{
        font-size:14px;
    }
    .tags ul{
        gap:10px;
    }
    .tags ul li{
      font-size:10px;
      padding:3px 5px;  
    }

     /* Footer */
    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__container{
      gap:20px;
     
    }
    footer{
      padding: 20px 60px;
    }
 }

 @media only screen and (max-width: 1132px){
     .post__main{
        margin: 0 50px;
      }
      .post__container{
        width:100%;
      }
      /* Header */
      .header i{
        display:block;
      }
      .header__action{
        display: flex;
        align-items: center;
        gap:15px;
    }

    .header__action i:first-child{
        font-size:23px;
        margin-bottom:1px;
    }
    .header__action i:last-child{
        font-size:28px;
    }
    .header__nav.active{
        display:block;
        position:absolute;
        right:50px;
        top:75px;
        width:230px;
        border-radius:5px;
        background:#fff;
        z-index:9999;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .header__nav.active li{
        margin:0;  
    }
    

    .header__nav.active li{
       border-radius:0;
    }
    .header__nav li:last-child{
        display: none;
    }

    .header__nav li a{
        display:flex;
        gap:15px;
        align-items:center;
        font-size:18px;
    }
      .header__nav{
        display:none;
      }
      .header{
        margin: 0 50px;
        padding: 20px 0;
      }
     .post__main{
      flex-direction: column;   
     }
     .articles{
        width: 100%;
        box-shadow: none;
        margin:0;
        margin-top:10px;
        padding:0;
     }

     .article__item{
        max-width:400px;
        margin-bottom:15px;
     }
     .articles__grid{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:15px;
     }
     .tags{
        width: 100%;
     }

     .footer__container{
      gap:15px;
     
    }
    footer{
      padding: 15px 50px;
    }

 }

 @media only screen and (max-width: 992px)
 {
    .post__main{
        margin: 0 20px; 
    }
    .header{
        padding: 15px 0;
        margin: 0 20px;
    }
    .header__logo{
        font-size:16px;
    }
    .header__logo i{
        font-size:32px;
    }
    .footer__container{
      gap:10px;
     
    }
    .footer__group-icon .footer__logo span{
      font-size:20px;
    }
    footer{
      padding: 15px 20px;
    }
 }

@media only screen and (max-width: 576px){
    .post__main{
        margin: 0 10px;
    }
    .header{
        padding: 10px 0;
        margin: 0 20px;
    }
    .header__nav.active{
        width:160px;
        right:30px;
        top:55px;
     }
     .header__action i:first-child{
        font-size:18px;
        margin-bottom:1px;
    }
    .header__action i:last-child{
        font-size:23px;
    }
     .header__nav.active li a{
        font-size:14px;
     }
     .header__nav.active li{
        padding:7px 9px;
     }
    

     /* Footer */
     .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__group-icon .footer__logo{
        font-size:20px;
    }
    .footer__group-icon .footer__logo i{
        font-size:32px;
    }

    .footer__container{
      gap:5px;
     
    }

    footer{
      padding: 15px 10px;
    }
}

@media only screen and (max-width: 375px){
    .articles__grid{
        grid-template-columns: 1fr;
        gap:5px;
     }
     .footer__container{
        grid-template-columns:1fr;
    }

}

@media (max-width: 1450px) {
    .header {
      margin: 0 25px;
      padding: 20px 0;
    }
    .header i {
      display: block;
    }
    .header__action {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .header__action button,
    .header__action button:hover,
    .header__action .dropdown.show .btn-secondary.dropdown-toggle,
    .header__action .dropdown .dropdown-toggle:focus {
      color: #000;
      background-color: #fff;
      border: none;
    }
    .header__action .dropdown.show img {
      width: 32px;
    }
    .header__action .dropdown-menu,
    .header__action .dropdown .btn-secondary,
    .header__action .dropdown.show .dropdown-item {
      padding: 0px;
    }
  
    .header__action .dropdown.show .dropdown-item {
      padding: 4px;
    }
    .header__action .dropdown-menu a:hover {
      background-color: #c7bbe7;
    }
    .header__action .dropdown .dropdown-toggle::after {
      margin-left: 0;
    }
    .wrapper .header .header__action .btn-secondary:focus {
      box-shadow: none;
    }
  
    .wrapper .header .header__action .dropdown .btn img {
      width: 32px;
    }
  
    .header__action i:first-child {
      font-size: 23px;
      margin-bottom: 1px;
    }
    .header__action i:last-child {
      font-size: 28px;
    }
  
    .header__nav.active {
      display: block;
      position: absolute;
      right: 50px;
      top: 75px;
      width: 164px;
      border-radius: 5px;
      background: #fff;
      z-index: 9999;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .header__nav.active .dropdown,
    .header__nav.active .dropdown button {
      display: none;
    }
  
    .header__nav.active li {
      margin: 0;
    }
  
    .header__nav.active li {
      border-radius: 0;
    }
    .header__nav li:last-child {
      /* display: none; */
    }
  
    .header__nav li a {
      display: flex;
      gap: 15px;
      align-items: center;
      font-size: 18px;
    }
    .header__nav {
      display: none;
    }
  
  }
  
  
  
  @media (max-width: 426px) {
  
    .wrapper .header .header__action .dropdown .btn img,
    .header__action .dropdown.show img {
      width: 24px;
    }
  }